@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    background-color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 620px;
}

h2{
    font-size: 2em;
}

h3{
    padding: 5px;
    background-color: rgba(12, 191, 93, 0.593);
}

#header{
    font-family: 'Gloock', serif;
    background-color: rgb(12, 191, 92);
    text-align: center;
    padding: 15px;
}

#logo{
    font-size: 1.5em;
}

#logo, #menu{
    padding: 15px;
}

#main{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#posts{
    width: 660px;
    float: left;
}

#menu-lateral{
    width: 240px;
    float: right;
}

.post{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.post p{
    margin: 5px 0;
    text-align: justify;
}

.conteudo-lateral{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral{
    padding: 5px;
    border-bottom: 1px dotted rgb(12, 191, 92);
}

#footer{
    clear: both;
    background-color: #fff;
    text-align: center;
    padding: 7px;
}

.data{
    display: block;
    margin: 7px 0;
}

/*Formatação dos Links*/
a{
    text-decoration: none;
}

#menu a{
    padding: 10px;
    font-size: 1.2em;
}

#menu a:link, a:visited{
    color: #fff;
}

#menu a:hover{
    color: #000;
    background-color: #fff;
}

.post a{
    color: rgb(8, 171, 81);
    font-weight: bolder;
}

.conteudo-lateral a{
    display: block;
    margin: 2px;
}

.conteudo-lateral a:link{
    color: rgb(8, 134, 65);
}

.conteudo-lateral a:hover{
    color: #000;
    text-decoration: underline;
}